body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 5px;
}


