/* You're welcome to change any of this! */
@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Itim&display=swap');
* {
    box-sizing: border-box;
}


h1 {
    background-color: #CED097;
    border-radius: 50px;
    justify-content: center;
    padding: 10vw;
    text-align: center;
    color: rgb(254, 255, 240);
    text-shadow: 2px 2px #7a7c47;
    font-family: 'Itim', cursive;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

#gifs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#homework, #tutorials, #quizzes, #class-exercises, #inspiration {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 10px;
    padding: 10px;
    background-color: #FFDBD6;
    border: 10px solid #ffffff;
    border-radius: 50px;
    
}

h2 {
    
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px #7a7c47;
    font-family: 'Itim', cursive;
}

#hw {
    grid-column-start: 2;
    color: #ffffff;
    
}

li {
    color: #ffffff;
    
}

a {
    text-decoration: none;
    color: #2f7a21;
    
}

/* Phone */
@media screen and (max-width: 500px) {

    h1 {
        font-size: 22px;
        text-align: center;
        padding: 12px;
    }

    img { 
        max-width:150px;
    }




}

