@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Itim&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Your CSS Code Here! */

ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    list-style: none;
    padding-top: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Itim', cursive;
}

header {
    background-color: rgb(69, 97, 67);
    padding: 10px;
}

#pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Itim', cursive;
}

#pfp>img {
    border-radius: 50%;
}

h2 {
    font-family: 'Itim', cursive;
}

#about {
    text-align: left;
    margin-left: 350px;
    margin-right: 350px;
    padding: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#projects {
    background-color: rgb(237, 236, 236);
    padding-bottom: 100px;
}

#projects>h2 {
    padding-left: 300px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.project-holder {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    column-gap: 70px;
    row-gap: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-holder img {
    width: 100%;
}

#contact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 50px;
    padding-top: 40px;
}

#contact h2 {
    padding-left: 300px;  
}

#contactp {
    padding-left: 300px;
    padding-right: 300px;
}

.contact-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 300px;
    padding-right: 300px;
    
}

input, textarea {
    background-color: rgb(237, 236, 236);
    border: none;
    height: 40px;
    border-radius: 5%;
}

textarea {
    width: 75%;
    height: 90px;
    box-sizing: border-box;
    resize: none;
}

.row-row1 {
    padding-bottom: 10px;
    padding-right: 10px;
}

.row-row1 input {
    padding-left: 10px;
}

#email {
    width: 46%;
}

.row textarea {
    padding-left: 10px;
    padding-top: 10px;
}

.rowbutton {
    padding-top: 10px;
}

.rowbutton input {
    background-color: rgb(69, 97, 67);
    color: white;
    height: 40px;
    border-radius: 5%;
}

#contact-info {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-info p {
    /* width: 180px;
    position: relative;
    padding-left: 20px; */
}

contact-info .row {
   
}


footer {
    text-align: center;
    background-color: rgb(237, 236, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}
