@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Itim&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Your CSS Code Here! */

ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    list-style: none;
    padding-top: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Itim', cursive;
}

header {
    background-color: rgb(69, 97, 67);
    padding: 10px;
}

#pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Itim', cursive;
}

#pfp>img {
    border-radius: 50%;
}

h2 {
    font-family: 'Itim', cursive;
}

#about {
    text-align: left;
    margin-left: 350px;
    margin-right: 350px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#projects {
    background-color: rgb(237, 236, 236);
}

#projects>h2 {
    text-align: center;
    padding:10px;
}

.project-holder {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
}


