#div1 {
    /* background-color: rgb(192, 178, 128); */
}


body {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#target {
    display: flex;
    justify-content: center;
}

#d2 {
    display: flex;
    justify-content: center;
}
