body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */
header {
background-color:rgb(48, 76, 60);
color: rgb(139, 172, 131);
padding: 30px;
}
main>section {
    border: 1px rgb(48, 76, 60) solid;
    margin: 30px;
    display:inline-block;
}
section>p {
    padding: 30px;
}
main>section:hover {
    color:rgb(139, 172, 131)
}
section:hover {
    transform: rotate(180)
}